#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #800080;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#loading.loaded {
  opacity: 0;
  visibility: hidden;
}
.loader001,
.loader001:before,
.loader001:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader001 {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader001:before,
.loader001:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader001:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader001:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
body {
    font-size: 15pt;
    background-color:#9400d3;
}
.title {
  margin-right: auto;
  width:600px;
  height:200px;
  display: flex;
  position: fixed;
}
.rrn{
   color:#FFFFFF;
}
.logo1{
  border-bottom: 3px solid #333;
  padding: 10px;
  margin:20px;
}
.mein{
    width:600px;
    height:200px;
}
h1 {
  width: 600px;
  height: 80px;
  background-color: #00FFFF;
}
.dest {
  border-bottom: 3px solid #333;
  padding: 10px;
  margin: 20px;
}
img{
  width: 300px;
  height: 300px
}
li{
  float: right;
}
.footer-logo{
    border-top: 3px solid #333;
    padding: 10px;
    margin:20px;
}
.dest {
  border-bottom: 3px solid #333;
  padding: 10px;
  margin: 20px;
}
nav{
  display: block;
  width: 220px;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}
.open nav{
  left: 0;
  opacity: 1;
}
nav .inner{
  padding: 25px;
}
nav .inner ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li{
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a{
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  padding: 1rem;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover{
  background-color: #e4e4e4
}
.toggle-btn{
  display:block;
  position: fixed;
  top: 30px;
  right: 80px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}
.toggle-btn span{
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  border-radius: 4px;
}
.toggle-btn span:nth-child(1){
  top: 4px;
}
.toggle-btn span:nth-child(2) {
  top: 14px;
}
.toggle-btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle-btn span{
  background-color: #fff;
}
.open .toggle-btn span:nth-child(1){
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}
#mask{
  display: none;
  transition: all 0.5s;
}
.open mask{
  display: block;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  cursor: pointer;
}
.topgazou{
  width: 930px;
  height: 530px;
}
.open-btn{
  position: absolute;
  top:10px;
  right:10px;
  background:#fff url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg") no-repeat 15px center;/*虫眼鏡アイコンを背景に表示*/
  background-size: 20px 20px;
  width:50px;
  height:50px;
  border-radius: 50%;
  cursor: pointer;
}

/*========= 検索窓の設定 ===============*/

/*==検索窓背景のエリア*/

#search-wrap{
    position:fixed;/*固定配置にして*/
  top: 0;
    left: 0;
  z-index: -1;/*最背面に設定*/
  opacity: 0;/*透過を0に*/
  transition: all 0.4s;/*transitionを使ってスムースに現れる*/
  width:100%;
  height: 100vh;
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後の見た目*/
#search-wrap.panelactive{
  opacity: 1;/*不透明に変更*/
   z-index: 3;/*全面に出現*/
   background:#333;
    /*中の要素を天地中央揃えにする設定*/
   display: flex;
   justify-content: center;
   align-items: center;
}

/*==検索窓のエリア*/

#search-wrap .search-area{
  display: none;/*検索窓のエリアは、はじめ非表示*/
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後*/
#search-wrap.panelactive .search-area{
  display: block;/*検索窓エリアを表示*/
  width:80%;
  position: relative;
}

/*==検索フォームの設定*/

#search-wrap form{
  position: relative;
  height: 66px;
}

/*==テキスト入力とボタンinput共通設定*/
#search-wrap input{
  -webkit-appearance:none;/*SafariやChromeのデフォルトの設定を無効*/
  outline: none;
  cursor: pointer;/*カーソルを指マークに*/
  color: #fff;
}

/*テキスト入力input設定*/
 #search-wrap input[type="text"] {
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom:2px solid #666;
  transition: all 0.5s;
  letter-spacing: 0.05em;
}

 #search-wrap input[type="text"]:focus {
  background:#444;
}

/*ボタンinput設定*/
 #search-wrap input[type="submit"] {
  position: absolute;
   top:0;
  right:10px;
  background:url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg") no-repeat 15px center;/*虫眼鏡アイコンを背景に表示*/
  background-size: 25px 25px;
  width:60px;
  height: 60px;
}

/*=======　閉じるための×ボタン　========*/
.close-btn{
  position: absolute;
  top:10px;
  right:10px;
  z-index: 2;
  cursor: pointer;
    width: 60px;
    height:60px;
}
  
.close-btn span{
    display: inline-block;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #fff;
 }

/*×マーク*/
.close-btn span:nth-of-type(1) {
    top: 21px;
    left: 16px;
    transform: translateY(6px) rotate(-135deg);
    width: 50%;
}

.close-btn span:nth-of-type(2){
    top: 32px;
    left: 16px;
    transform: translateY(-6px) rotate(135deg);
    width: 50%;
}
.img-wrap {
  overflow: hidden;
  position: relative;
}

.cover1,
.cover2,
.cover3 {
  animation: cover 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  height: calc(100%/3);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.cover1 {
  top: 0;
}

.cover2 {
  animation-delay: .2s;
  top: calc(100%/3);
}

.cover3 {
  animation-delay: .4s;
  top: calc(100%/3*2);
}

@keyframes cover {
  100% {
    transform: translateX(100%);
  }
}
.imgweep {
  overflow: hidden;
  position: relative;
}

.imgweep:before,
.imgweep:after {
  animation: 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.imgweep:before {
  animation-name: imgweep-before;
  top: 0;
  bottom: 50%;
}

.imgweep:after {
  animation-name: imgweep-after;
  top: 50%;
  bottom: 0;
}

@keyframes imgweep-before {
  100% {
    transform: translateX(100%);
  }
}

@keyframes imgweep-after {
  100% {
    transform: translateX(-100%);
  }
}